{{!-- <div class="row">
    <div class="col-12">
        <div class="card bg-primary shadow-soft border-light mb-6">
            <div class="card-body px-5 py-5 text-center text-md-left">
                <div class="row align-items-center">
                    <div class="col-md-6">
                        <h2 class="mb-3">О НАС </h2>

                        <div class="col-12 col-md-6">
        <div class="card bg-primary border-light shadow-soft" >
            <img src="../../assets/img/blog/blog-article-1.jpg" class="card-img-top rounded-top" alt="Themesberg office">
            <div class="card-body">
                <span class="h6 icon-tertiary small"><span class="fas fa-medal mr-2"></span>Awards</span>
                <h3 class="h5 card-title mt-3">We partnered up with Google</h3>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <button type="button" class="btn btn-primary btn-sm mb-4 mr-4 mr-md-0" data-container="body" data-toggle="popover" data-placement="top" title="Popover on top" data-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus.">
    Popover on top
</button>
            </div>
        </div>
    </div>
                       
<button type="button" class="btn btn-primary btn-sm mb-6 mr-6 mr-md-2 btn-lg" data-container="body" data-toggle="popover" data-placement="top" title="Popover on top" data-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus.">
    Флористы высшего уровня 
</button>
<button type="button" class="btn btn-primary btn-sm mb-6 mr-6 mr-md-2 btn-lg" data-container="body" data-toggle="popover" data-placement="top" title="Popover on top" data-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus.">
    Работаем 24 часа без выходных
</button>
<button type="button" class="btn btn-primary btn-sm mb-6 mr-6 mr-md-2 btn-lg" data-container="body" data-toggle="popover" data-placement="top" title="Popover on top" data-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus.">
    Удобные способы оплаты
</button>
<button type="button" class="btn btn-primary btn-sm mb-6 mr-6 mr-md-2 btn-lg" data-container="body" data-toggle="popover" data-placement="top" title="Popover on top" data-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus.">
    Быстрая обратная связь
</button>
<button type="button" class="btn btn-primary btn-sm mb-6 mr-6 mr-md-2 btn-lg" data-container="body" data-toggle="popover" data-placement="top" title="Popover on top" data-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus.">
    Можете настроить букеты по вашему вкусу
</button>
<button type="button" class="btn btn-primary btn-sm mb-6 mr-6 mr-md-2 btn-lg"  data-container="body" data-toggle="popover" data-placement="top" title="Popover on top" data-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus.">
    Покупайте не выходя из дома
</button>

                    </div>
                   
                </div>
            </div>
        </div>
    </div>


    <button type="button" class="btn btn-primary btn-sm mb-4 mr-4 mr-md-0" data-container="body" data-toggle="popover" data-placement="top" title="" data-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus." data-original-title="Popover on top">
Popover on top
</button>
</div --}}

<div class="row">
    <div class="col-12">
        <div class="card bg-primary shadow-soft border-light mb-6">
<div class="row">
    <div class="col-12 col-md-6">
        <div class="card bg-primary border-light shadow-soft">
            <img src="" class="" alt="">
            <div class="card-body">
                
                <h3 class="h5 card-title mt-3">Флористы высшего уровня</h3>
                
                <button type="button" class="btn btn-primary btn-sm mb-4 mr-4 mr-md-0" data-container="body" data-toggle="popover" data-placement="top" title="" data-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus." data-original-title="Popover on top">
</button>

            </div>
        </div>
    </div>
     <div class="col-12 col-md-6">
        <div class="card bg-primary border-light shadow-soft">
            <img src="../../assets/img/blog/blog-article-1.jpg" class="card-img-top rounded-top" alt="Themesberg office">
            <div class="card-body">
                
                <h3 class="h5 card-title mt-3">Работаем 24 часа без выходных</h3>
                
                <button type="button" class="btn btn-primary btn-sm mb-4 mr-4 mr-md-0" data-container="body" data-toggle="popover" data-placement="top" title="" data-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus." data-original-title="Popover on top">
</button>

            </div>
            </div>
        </div>
    </div>
      <div class="col-12 col-md-6">
        <div class="card bg-primary border-light shadow-soft">
            <img src="../../assets/img/blog/blog-article-1.jpg" class="card-img-top rounded-top" alt="Themesberg office">
            <div class="card-body">
                
                <h3 class="h5 card-title mt-3">Удобные способы оплаты</h3>
                
                <button type="button" class="btn btn-primary btn-sm mb-4 mr-4 mr-md-0" data-container="body" data-toggle="popover" data-placement="top" title="" data-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus." data-original-title="Popover on top">
</button>

            </div>
            </div>
</div>
