<div class="row">
    <div class="col-12 col-md-6 mt-5">
        <!-- Profile Card -->
        <div class="profile-card mb-5">
            <div class="card bg-primary shadow-inset border-light text-center">
                <div class="card-header">
                    <div class="profile-image bg-primary shadow-inset border border-light rounded mx-auto p-3 mt-n6">
                        <img src="images/girlIcon.png" class="card-img-top rounded" alt="Leos Portrait">
                    </div>
                </div>
                <div class="card-body pb-5">
                    {{!-- <h3 class="h5 mb-2">Удобный способ оплаты</h3> --}}
                    
                  
                   <button type="button" class="btn btn-primary btn-sm mb-4 mr-4 mr-md-2" data-container="body" data-toggle="popover" data-placement="left" title="Popover on left" data-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus.">
    Флористы высшего уровня
</button>                         
                </div>
            </div>
        </div>
        <!-- End of Profile Card -->
        </div>
        <div class="col-12 col-md-6 mt-5">
        <!-- Profile Card -->
        <div class="profile-card mb-5">
            <div class="card bg-primary shadow-inset border-light text-center">
                <div class="card-header">
                    <div class="profile-image bg-primary shadow-inset border border-light rounded mx-auto p-3 mt-n6">
                        <img src="images/cardIcon.png" class="card-img-top rounded" alt="Leos Portrait">
                    </div>
                </div>
                <div class="card-body pb-5">
                    {{!-- <h3 class="h5 mb-2">Удобный способ оплаты</h3> --}}
                    
                  
                   <button type="button" class="btn btn-primary btn-sm mb-4 mr-4 mr-md-2" data-container="body" data-toggle="popover" data-placement="right" title="Popover on left" data-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus.">
    Удобный способ оплаты
</button>        
                </div>
            </div>
        </div>
        <!-- End of Profile Card -->
   </div>
     <div class="col-12 col-md-6 mt-5">
        <!-- Profile Card -->
        <div class="profile-card mb-5">
            <div class="card bg-primary shadow-inset border-light text-center">
                <div class="card-header">
                    <div class="profile-image bg-primary shadow-inset border border-light rounded mx-auto p-3 mt-n6">
                        <img src="images/clockIcon.png" class="card-img-top rounded" alt="Leos Portrait">
                    </div>
                </div>
                <div class="card-body pb-5">
                    {{!-- <h3 class="h5 mb-2">Удобный способ оплаты</h3> --}}
                    
                  
                   <button type="button" class="btn btn-primary btn-sm mb-4" data-container="body" data-toggle="popover" data-placement="left" title="Popover on right" data-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus.">
    Работаем 24 часа без выходных
</button>                           
                </div>
            </div>
        </div>
        <!-- End of Profile Card -->
    </div>
   
    <div class="col-12 col-md-6 mt-5">
        <!-- Profile Card -->
        <div class="profile-card mb-5">
            <div class="card bg-primary shadow-inset border-light text-center">
                <div class="card-header">
                    <div class="profile-image bg-primary shadow-inset border border-light rounded mx-auto p-3 mt-n6">
                        <img src="images/speakIcon.png" class="card-img-top rounded" alt="Leos Portrait">
                    </div>
                </div>
                <div class="card-body pb-5">
                    {{!-- <h3 class="h5 mb-2">Удобный способ оплаты</h3> --}}
                    
                  
                   <button type="button" class="btn btn-primary btn-sm mb-4 mr-4 mr-md-2" data-container="body" data-toggle="popover" data-placement="right" title="Popover on left" data-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus.">
    Быстрая обратная связь
</button>                          
                </div>
            </div>
        </div>
        <!-- End of Profile Card -->
   </div>

<div class="col-12 col-md-6 mt-5">
        <!-- Profile Card -->
        <div class="profile-card mb-5">
            <div class="card bg-primary shadow-inset border-light text-center">
                <div class="card-header">
                    <div class="profile-image bg-primary shadow-inset border border-light rounded mx-auto p-3 mt-n6">
                        <img src="images/homeOrderIcon.png" class="card-img-top rounded" alt="Leos Portrait">
                    </div>
                </div>
                <div class="card-body pb-5">
                    {{!-- <h3 class="h5 mb-2">Удобный способ оплаты</h3> --}}
                    
                  
                   <button type="button" class="btn btn-primary btn-sm mb-4" data-container="body" data-toggle="popover" data-placement="left" title="Popover on right" data-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus.">
    Покупайте не выходя из дома
</button>                        
                </div>
            </div>
        </div>
        <!-- End of Profile Card -->
   </div>

<div class="col-12 col-md-6 mt-5">
        <!-- Profile Card -->
        <div class="profile-card mb-5">
            <div class="card bg-primary shadow-inset border-light text-center">
                <div class="card-header">
                    <div class="profile-image bg-primary shadow-inset border border-light rounded mx-auto p-3 mt-n6">
                        <img src="images/girlIcon.png" class="card-img-top rounded" alt="Leos Portrait">
                    </div>
                </div>
                <div class="card-body pb-5">
                    {{!-- <h3 class="h5 mb-2">Удобный способ оплаты</h3> --}}
                    
                  
                   <button type="button" class="btn btn-primary btn-sm mb-4 mr-4 mr-md-2" data-container="body" data-toggle="popover" data-placement="right" title="Popover on left" data-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus.">
    Сделать свой букет
</button>                         
                </div>
            </div>
        </div>
        <!-- End of Profile Card -->
        </div>

</div>
