  <link rel="stylesheet" href="/stylesheets/catalog.css">
 <div class="row">

      

      <div class="col-12 col-md-6" >
          <div class="card bg-primary border-light shadow-soft">
              <img src="images/icon/girlIcon.png" class="card-img-top rounded-top" alt="Themesberg office">
              <div class="card-body">
                  
                  <button type="button" class="btn btn-primary btn-sm mb-0 mr-0 mr-md-0" data-container="body" data-toggle="popover" data-placement="bottom" title="Флористы высшего уровня" data-content="Наши флористы — настоящие мастера своего дела. Их блестящий талант и творческое вдохновение создают для вас по-настоящему волшебные букеты!">
    Нажми меня
</button> 
              </div>
          </div>
      </div>

      <div class="col-12 col-md-6" >
          <div class="card bg-primary border-light shadow-soft">
              <img src="images/icon/cardIcon.png" class="card-img-top rounded-top" alt="Themesberg office">
              <div class="card-body">
                  
                  <button type="button" class="btn btn-primary btn-sm mb-0 mr-0 mr-md-0" data-container="body" data-toggle="popover" data-placement="bottom" title="Удобный способ оплаты" data-content="Где бы вы ни находились, вы всегда сможете порадовать близких ароматным букетом, воспользовавшись одним из 15 универсальных способов оплаты.">
    Нажми меня
</button>   
              </div>
          </div>
      </div>


      <div class="col-12 col-md-6" >
          <div class="card bg-primary border-light shadow-soft">
              <img src="images/icon/clockIcon.png" class="card-img-top rounded-top" alt="Themesberg office">
              <div class="card-body">
                  
                   <button type="button" class="btn btn-primary btn-sm mb-0 mr-0 mr-md-0" data-container="body" data-toggle="popover" data-placement="bottom" title="Работаем 24 часа без выходных" data-content="Наша сервисная служба работает 24/7, чтобы ответить на любой ваш вопрос и своевременно помочь с заказом.">
    Нажми меня
</button>     
              </div>
          </div>
      </div>

      <div class="col-12 col-md-6" >
          <div class="card bg-primary border-light shadow-soft">
              <img src="images/icon/speakIcon.png" class="card-img-top rounded-top" alt="Themesberg office">
              <div class="card-body">
                  
                   <button type="button" class="btn btn-primary btn-sm mb-0 mr-0 mr-md-0" data-container="body" data-toggle="popover" data-placement="bottom" title="Быстрая обратная связь" data-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus.">
    Нажми меня
</button>      
              </div>
          </div>
      </div>


       <div class="col-12 col-md-6" >
          <div class="card bg-primary border-light shadow-soft">
              <img src="images/icon/homeOrderIcon.png" class="card-img-top rounded-top" alt="Themesberg office">
              <div class="card-body">
                  
                   <button type="button" class="btn btn-primary btn-sm mb-0 mr-0 md-0" data-container="body" data-toggle="popover" data-placement="bottom" title="Покупайте не выходя из дома" data-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus.">
    Нажми меня
</button>     
              </div>
          </div>
      </div>


      <div class="col-12 col-md-6" >
          <div class="card bg-primary border-light shadow-soft">
              <img src="images/icon/customIcon.png" class="card-img-top rounded-top" alt="Themesberg office">
              <div class="card-body">
                  
                   <button type="button" class="btn btn-primary btn-sm mb-0 mr-0 mr-md-0" data-container="body" data-toggle="popover" data-placement="bottom" title="Сделать свой букет" data-content="В нашем каталоге вы найдёте более 800 букетов и подарков для любого получателя и праздника. Кроме того, вы можете заказать уникальный букет по собственному эскизу.">
    Нажми меня
</button>      
              </div>
          </div>
      </div>

 
    </div>
<script defer src="/js/catalog.js"></script>
