<style>
  .section {
padding-top: 8rem;
padding-bottom: 8rem;
}
</style>

<section class="bg-soft">
            <div class="container">
                <div class="row mt-6">
                    <div class="col-md-6 col-sm-6 col-lg-3">
                        <div class="card shadow-soft border-light bg-soft p-5 text-center mb-4">
                            <div class="color-shape rounded bg-light m-auto">
                               <img src="images/flowers/1.png" class="card-img-top rounded-top" alt="Themesberg office">
                            </div>
                            <div class="mt-4">
                                <h2 class="h5 text-dark">Быстрая доставка</h2>
                                {{!-- <span class="font-weight-bold text-dark">#174F84</span> --}}
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6 col-lg-3">
                        <div class="card shadow-soft border-light bg-soft p-5 text-center mb-4">
                            <div class="color-shape rounded bg-secondary m-auto">
                              <img src="images/flowers/1.png" class="card-img-top rounded-top" alt="Themesberg office">
                            </div>
                            <div class="mt-4">
                                <h2 class="h5 text-dark">Клиентский сервис</h2>
                                {{!-- <span class="font-weight-bold text-dark">#10AB7C</span> --}}
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6 col-lg-3">
                        <div class="card shadow-soft border-light bg-soft p-5 text-center mb-4">
                            <div class="color-shape rounded bg-info m-auto">
                       <img src="images/flowers/1.png" class="card-img-top rounded-top" alt="Themesberg office">
                            </div>
                            <div class="mt-4 text-dark">
                                <h2 class="h5">Низкие цены</h2>
                                <span class="font-weight-bold text-dark">x</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6 col-lg-3">
                        <div class="card shadow-soft border-light bg-soft p-5 text-center mb-4">
                            <div class="color-shape rounded bg-warning m-auto">
                               <img src="images/flowers/1.png" class="card-img-top rounded-top" alt="Themesberg office">
                            </div>
                            <div class="mt-4 text-dark">
                                <h2 class="h5">ЕЩЕ ЧТО-ТО</h2>
                                <span class="font-weight-bold text-dark">x</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6 col-lg-3">
                        <div class="card shadow-soft border-light bg-soft p-5 text-center mb-4">
                            <div class="color-shape rounded bg-success m-auto">
                               <img src="images/flowers/1.png" class="card-img-top rounded-top" alt="Themesberg office">
                            </div>
                            <div class="mt-4 text-dark">
                                <h2 class="h5">ЕЩЕ ЧТО-ТО</h2>
                                <span class="font-weight-bold text-dark">x</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6 col-lg-3">
                        <div class="card shadow-soft border-light bg-soft p-5 text-center mb-4">
                            <div class="color-shape rounded bg-danger m-auto">
                               <img src="images/flowers/1.png" class="card-img-top rounded-top" alt="Themesberg office">
                            </div>
                            <div class="mt-4 text-dark">
                                <h2 class="h5">ЕЩЕ ЧТО-ТО</h2>
                                <span class="font-weight-bold text-dark">x</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6 col-lg-3">
                        <div class="card shadow-soft border-light bg-soft p-5 text-center mb-4">
                            <div class="color-shape rounded bg-dark m-auto">
                               <img src="images/flowers/1.png" class="card-img-top rounded-top" alt="Themesberg office">
                            </div>
                            <div class="mt-4">
                                <h2 class="h5 text-dark">ЕЩЕ ЧТО-ТО</h2>
                                <span class="font-weight-bold text-dark">x</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

