<style>

    {
padding: 10vh;
}
</style>
<section class="min-vh-50 d-flex bg-primary align-items-center">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-12 col-md-8 col-lg-8 justify-content-center" style="padding-bottom: 10vh; padding-top: 10vh">
                        <div class="card bg-primary shadow-soft border-light p-4">
  <div class="row">
    <div class="col-12">
        <!-- Tab Nav -->
        <div class="nav-wrapper position-relative mb-4">
            <ul class="nav nav-pills flex-column flex-sm-row" id="tabs-text" role="tablist">
                <li class="nav-item mr-sm-3 mr-md-0">
                    <a class="nav-link mb-sm-3 mb-md-0 active" id="tabs-text-1-tab" data-toggle="tab" href="#tabs-text-1" role="tab" aria-controls="tabs-text-1" aria-selected="true">Добавление цветов</a>
                </li>
                <li class="nav-item mr-sm-3 mr-md-0">
                    <a class="nav-link mb-sm-3 mb-md-0" id="tabs-text-2-tab" data-toggle="tab" href="#tabs-text-2" role="tab" aria-controls="tabs-text-2" aria-selected="false">Добавление адреса</a>
                </li>
                <li class="nav-item mr-sm-3 mr-md-0">
                    <a class="nav-link mb-sm-3 mb-md-0" id="tabs-text-3-tab" data-toggle="tab" href="#tabs-text-3" role="tab" aria-controls="tabs-text-3" aria-selected="false">Добавление категории</a>
                </li>
            </ul>
        </div>
        <!-- End of Tab Nav -->
        <!-- Tab Content -->
        <div class="card shadow-inset bg-primary border-light p-4 rounded">
            <div class="card-body p-0">
                <div class="tab-content" id="tabcontent1">
                    <div class="tab-pane fade show active" id="tabs-text-1" role="tabpanel" aria-labelledby="tabs-text-1-tab">
                        
<form action="/user/admin" method="POST" class="w-100">
    <div class="form-group mb-3">
        <label for="name">Название</label>
        <input type="text" name="name" class="form-control" id="email" aria-describedby="emailHelp">
    </div>
    <div class="form-group mb-3">
     <label class="my-1 mr-2" for="inlineFormCustomSelectPref">Категория</label>
     <select name="catid" class="custom-select my-1 mr-sm-2" id="inlineFormCustomSelectPref">
        <option selected>Выберите из списка...</option>
       {{#each allCats}}
         <option value="{{this.id}}">{{this.catName}}</option>
       {{/each}}
      </select>
    </div>
    <div class="form-group mb-3">
          <label for="exampleFormControlTextarea2">Описание:</label>
         <textarea name="descr" class="form-control" id="exampleFormControlTextarea2" rows="3"></textarea>
    </div>
    <div class="form-group mb-3 custom-file">
        <input name="pic" type="file" class="custom-file-input" id="customFile">
        <label class="custom-file-label" for="customFile">Выберите картинку:</label>
    </div>
    <div class="form-group mb-3">
        <label for="price">Цена:</label>
        <input type="text" class="form-control" name="price" id="price" aria-describedby="emailHelp">
        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
    </div>
    <div class="form-group mb-3 custom-control custom-switch">
        <input name="popular" type="checkbox" class="custom-control-input" id="customSwitch1">
        <label class="custom-control-label" for="customSwitch1">Популярный</label>
    </div>
    <div class="form-group">
    <button type="submit" class="btn btn-primary">Добавить</button>
    </div>
  </form>
                    </div>
                    <div class="tab-pane fade" id="tabs-text-2" role="tabpanel" aria-labelledby="tabs-text-2-tab">
                        <form action="/user/admin/addpoint" method="POST" class="w-100">
    <div class="form-group mb-3">
        <label for="city">Город</label>
        <input type="text" name="city" class="form-control" id="city" aria-describedby="emailHelp">
    </div>
    <div class="form-group mb-3">
        <label for="street">Улица</label>
        <input type="text" name="street" class="form-control" id="street" aria-describedby="emailHelp">
    </div>
    <div class="form-group mb-3">
        <label for="tel">Телефон</label>
        <input type="tel" name="tel" class="form-control" id="tel" aria-describedby="emailHelp">
    </div>
    <div class="form-group mb-3">
        <label for="email">Email</label>
        <input type="email" name="email" class="form-control" id="email" aria-describedby="emailHelp">
    </div>
      <div class="form-group mb-3">
        <label for="time">Время работы</label>
        <input type="text" name="time" class="form-control" id="time" aria-describedby="emailHelp">
    </div>
    <div class="form-group">
    <button type="submit" class="btn btn-primary">Добавить</button>
    </div>
  </form>
                    </div>
                    <div class="tab-pane fade" id="tabs-text-3" role="tabpanel" aria-labelledby="tabs-text-3-tab">
   <form action="/user/admin/addcat" method="POST" class="w-100">
    <div class="form-group mb-3">
        <label for="catname">Введите название категории</label>
        <input type="text" name="catname" class="form-control" id="catname" aria-describedby="emailHelp">
    </div>
    <div class="form-group">
    <button type="submit" class="btn btn-primary">Добавить</button>
    </div>
  </form>
                    </div>
                </div>
            </div>
        </div>
        <!-- End of Tab Content -->
    </div>
</div>
  
  </div>
                    </div>
                </div>
            </div>
        </section>
