<style>
  .row {
    display: flex;
    justify-content: space-between;
  }
</style>


<div class="container">
  <div class="row">
    <div class="col-md-6 col-lg-4 mb-5 mb-lg-0">
      <!-- Pricing Card -->
      <div class="card bg-primary shadow-inset border-light p-4">
        <!-- Header -->

        <!-- End Header -->
        <!-- Content -->
        <div class="card-body shadow-soft text-center border border-light rounded">
          <p>Букет залуп</p>
          <ul class="list-group mb-4">
            <li class="list-group-item"><strong>В наличии</strong> да.нет</li>
            <li class="list-group-item"><strong>Букет из белых и фиолетовых залуп</strong> 51 шт.</li>
            <li class="list-group-item"><strong>Параметры букеты</strong> 30 см</li>
            <li class="list-group-item"><strong>Страна происхождения</strong> Нидерланды </li>

          </ul>
          <span class="d-block">
            <span class="display-1 font-weight-bold">
              <span class="align-top font-medium">₽</span>7000
            </span>
            {{!-- <span class="font-small">/ month</span> --}}
          </span>
          <button type="button" class="btn btn-primary btn-block" tabindex="0"><span
              class="fas fa-cart-plus mr-2"></span>Отправить в корзину</button>
        </div>
        <!-- End Content -->
      </div>
      <!-- End of Pricing Card -->
    </div>




    <div class="col-md-4 ">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="/images/girl.png" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
          <img src="..." class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
          <img src="..." class="d-block w-100" alt="...">
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"
        data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"
        data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>

    </div>










  </div>



</div>


</div>
