{{!-- <div class="row  h-100 justify-content-center align-items-center">
    <div class="col-1 col-md-3">
        <div class="card bg-primary border-light shadow-soft">
            
            <div class="card-body">
                <h3 class="h5 card-title mt-3">О нас</h3>
                
                <p class="card-text">Цветочная поляна - это студия профессиональной флористики в нашем городе. У нас вы попадаете в атмосферу красоты и восхитительных ароматов. Каким бы ни был повод, каждому гостю мы предлагаем индивидуальный подход</p>
                <ul class="list-unstyled d-flex justify-content-center mt-3 mb-4">
                        <li>
                            <a href="#" target="_blank" aria-label="facebook social link" class="icon icon-xs icon-facebook mr-3">
                                <span class="fab fa-facebook-f"></span>
                            </a>
                        </li>
                        <li>
                            <a href="#" target="_blank" aria-label="twitter social link" class="icon icon-xs icon-twitter mr-3">
                                <span class="fab fa-twitter"></span>
                            </a>
                        </li>
                        
                      
                    </ul>
            </div>
        </div>
    </div>
   
</div> --}}


<div class="row  h-100 justify-content-center align-items-center">
    <div class="col-12 col-md-6">
        <div class="card bg-primary border-light shadow-soft">
            
            <div class="card-body">
                
                <h3 class="h5 card-title mt-3">О Нас</h3>
                <p class="card-text">Цветочная поляна - это студия профессиональной флористики в нашем городе. У нас вы попадаете в атмосферу красоты и восхитительных ароматов. Каким бы ни был повод, каждому гостю мы предлагаем индивидуальный подход.</p>
                <ul class="list-unstyled d-flex justify-content-center mt-3 mb-4">
                        <li>
                            <a href="#" target="_blank" aria-label="facebook social link" class="icon icon-xs icon-facebook mr-3">
                                <span class="fab fa-facebook-f"></span>
                            </a>
                        </li>
                        <li>
                            <a href="#" target="_blank" aria-label="twitter social link" class="icon icon-xs icon-twitter mr-3">
                                <span class="fab fa-twitter"></span>
                            </a>
                        </li>
                        
                      
                    </ul>
            </div>
        </div>
    </div>
    
</div>
