.catalog {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.col-12 {
  padding-top: 7px;
  padding-bottom: 7px;
}


.btn {
  position: relative;
  transition: all 0.2s ease;
  letter-spacing: 0.025em;
  font-size: 1rem;
  border-color: #D1D9E6;
  box-shadow: 3px 3px 6px #b8b9be, -3px -3px 6px #ffffff;
  width: 100%;
}

.row {
  justify-content: center;
}

@media (min-width: 768px) {
  .col-md-6 {
    max-width: 300px;
  }  
}
